* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  background-color: #77B0AA;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  align-items: center; }
  header nav ul {
    align-items: center;
    list-style: none;
    font-weight: bold;
    color: #003C43;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px; }
    header nav ul li a {
      text-decoration: none;
      color: #003C43; }

@media (max-width: 560px) {
  header {
    flex-direction: column;
    height: 320px; }
  header nav ul {
    flex-direction: column; } }

footer {
  background-color: #035761;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px; }
  footer .socials {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
    gap: 30px; }
  footer .socials img {
    width: 50px;
    height: 50px; }

@media (max-width: 430px) {
  footer {
    flex-direction: column;
    height: 250px; }
    footer .socials {
      flex-direction: column; } }

body {
  background-image: linear-gradient(#E3FEF7, #77B0AA);
  min-height: 100vh; }

.home {
  min-height: 100vh; }

.foureverHome {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 100px; }
  .foureverHome img {
    width: 100%;
    height: auto;
    align-items: center; }

.discography {
  min-height: 100vh; }
  .discography div h1 {
    text-align: center;
    margin: 50px;
    color: #003C43; }

.albumYear {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
  color: #003C43; }

.carousel {
  margin-bottom: 6.25rem; }
  .carousel .carousel-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 500px; }
  @media (max-width: 560px) {
    .carousel {
      width: 70%;
      height: 6.25rem;
      margin-bottom: 6.25rem; } }

.carousel-item iframe {
  align-items: center;
  width: 31.25rem; }
  @media (max-width: 560px) {
    .carousel-item iframe {
      width: 100%;
      height: 12.5rem; } }

.members {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly; }
  .members .profiles h2 {
    color: #135D66;
    display: flex;
    justify-content: space-evenly; }
  .members .profiles p {
    width: 12.5rem;
    height: 12.5rem;
    color: #003C43;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: arial;
    font-size: .875rem;
    text-align: justify; }
  .members .profiles img {
    width: 200px;
    height: auto; }

.day6members {
  min-height: 100vh; }
  .day6members h1 {
    text-align: center;
    margin: 50px;
    color: #003C43; }

.main-videos {
  min-height: 100vh; }
  .main-videos div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px; }
  .main-videos h1 {
    color: #003C43; }

.carousel-inner {
  align-items: center; }

.news {
  min-height: 100vh; }
  .news h1 {
    text-align: center;
    margin: 50px;
    color: #003C43; }

.news-container {
  display: grid;
  width: 80%;
  height: 31.25rem;
  gap: 1.25rem;
  justify-content: center;
  padding-left: 12.5rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 12.5rem 12.5rem;
  grid-template-areas: "divImg1 divInfo1" "divImg2 divInfo2"; }
  .news-container .divImg1 {
    grid-area: divImg1; }
  .news-container .divInfo1 {
    grid-area: divInfo1; }
    @media (max-width: 792px) {
      .news-container .divInfo1 {
        height: 175px;
        overflow: hidden; } }
  .news-container .divImg2 {
    grid-area: divImg2; }
  .news-container .divInfo2 {
    grid-area: divInfo2; }
    @media (max-width: 792px) {
      .news-container .divInfo2 {
        height: 175px;
        overflow: hidden; } }
  .news-container div a img {
    max-width: 100%;
    height: auto; }
  .news-container .divInfo1 p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: arial;
    font-size: .875rem;
    text-align: justify; }
  .news-container .divInfo2 p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: arial;
    font-size: .875rem;
    text-align: justify; }
