.discography{
    min-height: 100vh;
    div{
        h1{
            text-align: center;
            margin: 50px;
            color: #003C43;
        }
    }
}
.albumYear{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;
    color: #003C43;
}
.container{
    width: 80%;
    height: 50rem;
    .carousel-item{
        padding-left: 6.25rem;
    }
}